.productImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 8px; /* Optional: Add border radius */
    margin-top: 52px;
    margin-left: 275px;
    margin-right: 2px;
}
  