.productImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 8px; /* Optional: Add border radius */
    margin-top: 80px;
    margin-left: 255px;
    margin-right: 10px;
}
  