.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 130px;
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .logoTextRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
   
  .logoContainer {
    flex-shrink: 0;
    padding-bottom: 20px;
  }

  .logoContainer2 {
    flex-shrink: 0;
  }
  
  .textContainer {
    max-width: 700px;
    font-size: 20px;
  }
  
  .fadeIn {
    animation: fadeIn 1s ease-in;
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }