.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 6%;
    margin-bottom: 130px;
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .logoTextRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 125px;
  }
   
  .logoContainer {
    flex-shrink: 0;
    padding-bottom: 20px;
  }

  .logoContainer2 {
    flex-shrink: 0;
  }
  
  .textContainer {
    max-width: 800px;
    font-size: 20px;
  }
  