.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 1.65%;
    margin-bottom: 20px;
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .logoTextRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 205px;
  }

    .logoTextRow2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 105px;
  }
   
  .logoContainer {
    flex-shrink: 0;
    padding-bottom: 20px;
  }

  .logoContainer2 {
    flex-shrink: 0;
    margin-top: 3%;
  }
  
  .textContainer {
    max-width: 800px;
    font-size: 20px;
  }
  