.navButton {
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 2vh;
    left: 21%;
    font-weight: bold;
  }
  
  .navButton:hover {
    color:#1c63cd;
    text-decoration: underline;
  }