.pageContainer {
    display: flex;            /* Switch to row layout */
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;                /* Space between sidebar and bag container */
    background-color: #fffbfb; 
  }
    
  .bagContainer {
    position: relative;
    width: 650px;
    height: 650px;
    border: 1px solid white;
    margin-top: 7%;
    margin-left: 12%;
    margin-bottom: 10%;
    overflow: hidden; /* Ensures child elements cannot be seen outside */
  }
    
  .controls {
    margin-bottom: 0.7%;
  }

  .navLink {
    display: block;
    margin-bottom: 4%;
    margin-right: 16%;
    color: #0070f3;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .active {
    border: 2px dashed rgb(97, 94, 94); /* Adds a dashed border when active */
  }

  .resizeHandle {
    position: absolute;
    user-select: none;
    width: 30px; /* Increased width */
    height: 30px; /* Increased height */
    right: -15px; /* Adjusted position */
    bottom: -15px; /* Adjusted position */
    cursor: se-resize;
  }
  
  .customResizeHandle {
    position: absolute;
    width: 30px; /* Increased width */
    height: 30px; /* Increased height */
    right: -15px; /* Adjusted position */
    bottom: -15px; /* Adjusted position */
    cursor: se-resize;
  }
  

  .uploadLabel {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .navigation {
    display: flex;
    gap: 250px;
    margin-bottom: 5%;
  }
  
  .navButton {
    padding: 10px 15px;
    background-color: #1c51a3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .navButton:hover {
    background-color: #163d7f;
  }