.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .navLink {
    margin: 0 10px;
    color: #1c51a3;
    text-decoration: none;
    font-weight: bold;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 2%;
  }
  
  .bagContainer {
    position: relative;
    width: 450px;
    height: 450px;
    border: 1px solid #ccc;
    margin: 2% 0;
    overflow: hidden; /* Ensures child elements cannot be seen outside */
  }
    
  .controls {
    margin-bottom: 20px;
  }
  
  .active {
    border: 2px dashed rgb(97, 94, 94); /* Adds a dashed border when active */
  }

  .resizeHandle {
    position: absolute;
    user-select: none;
    width: 30px; /* Increased width */
    height: 30px; /* Increased height */
    right: -15px; /* Adjusted position */
    bottom: -15px; /* Adjusted position */
    cursor: se-resize;
  }
  
  .customResizeHandle {
    position: absolute;
    width: 30px; /* Increased width */
    height: 30px; /* Increased height */
    right: -15px; /* Adjusted position */
    bottom: -15px; /* Adjusted position */
    cursor: se-resize;
  }
  

  .uploadLabel {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .navigation {
    display: flex;
    gap: 10px;
  }
  
  .navButton {
    padding: 10px 15px;
    background-color: #1c51a3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .navButton:hover {
    background-color: #163d7f;
  }