.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .navLink {
    margin: 0 10px;
    color: #1c51a3;
    text-decoration: none;
    font-weight: bold;
  }
  
  .heading {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 2%;
  }
  
  .bagContainer {
    position: relative;
    width: 450px;
    height: 450px;
    border: 1px solid #ccc;
    margin: 2% 0;
    overflow: hidden; /* Ensures child elements cannot be seen outside */
  }
    
  .controls {
    margin-bottom: 20px;
  }
  
  .active {
    border: 2px dashed #1c51a3; /* Adds a dashed border when active */
  }

  .resizeHandle {
    width: 16px;
    height: 16px;
    background-color: #1c51a3; /* Or any color you like */
    border-radius: 50%;
    cursor: se-resize;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .resizeHandle::after {
    content: "↘";
    color: black;
    font-size: 24px;
  }

  .uploadLabel {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .navigation {
    display: flex;
    gap: 10px;
  }
  
  .navButton {
    padding: 10px 15px;
    background-color: #1c51a3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .navButton:hover {
    background-color: #163d7f;
  }