.footer {
    background-color: #1c51a3; /* Same blue color as the subheader */
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    
  }
  
  .footerContainer {
    max-width: 100vw; /* Set the maximum width of the footer container */
    width: 100%;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logoContainer {
    margin-bottom: 30px;
    margin-right: 1400px;
  }
  
  .footerText {
    margin: 0;
    font-size: 14px;
  }