.footer {
    background-color: #1c51a3; /* Same blue color as the subheader */
    color: white;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    
  }
  
  .footerContainer {
    max-width: 100vw; /* Set the maximum width of the footer container */
    width: 100%;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logoContainer {
    margin-left: 91px;
    margin-top: 4%;
  }
  
  .linksContainer {
    display: flex;
    gap: 50px;
    margin-bottom: 2px;
    margin-left: 10px;
  }

  .footerLink {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }

  .footerLink:hover {
    text-decoration: underline;
  }
  
  .footerText {
    font-size: 12px;
    color: white;
    margin-left: 10px;
  }

  .contactInfo {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-size: 14px;
    color: white;
    margin-top: -4%;
    text-align: center;
    margin-bottom: 8%;
  }

  .contactInfo p:hover {
    text-decoration: underline;
}