.authWrapper {
  display: flex;
  align-items: center;
  height: 105%; 
  justify-content: center; 
}

.userMenu { 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 1rem; 
  color: white; 
}

.userMenuText {
  color: black; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-size: 14px;
  align-items: center;
}

.authButton,
.signOutButton {
  color: white;
  border: none;
  cursor: pointer;
  padding: 9px 12px; 
  border-radius: 8px;
  transition: background-color 0.3s ease;
  white-space: nowrap; 
  font-size: 0.9rem; 
  margin-left: 55%;
}

.authButton {
  background-color: #1c51a3; 
}

.authButton:hover {
  background-color: #0056b3; 
}

.signOutButton {
  background-color: #dc3545; 
}

.signOutButton:hover {
  background-color: #c82333; 
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modalContent {
  position: relative; 
  z-index: 1001; 
  background-color: white; 
  padding: 20px;          
  border-radius: 8px;     
}

.modalBackdrop {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; 
}