.navButton {
    color: rgb(92, 86, 86);
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 1.4vh;
    left: 29.5%;
    font-size: 20px;
  }
  
  .navButton:hover {
    color:#1c63cd;
    text-decoration: underline;
  }

  @media (max-width: 950px) {
  .navButton {
      left: 27%; /* Decrease margin for smaller screens */
    }
  }