.carouselContainer {
    display: flex;
    flex-direction: row; /* Ensure content is in a row */
    align-items: center;
    justify-content: center;
    position: relative;
    width: 680px; /* Adjust to include arrow button spacing */
    margin-top: 120px;
    margin-left: 110px;
  }
  
  /* Vertical preview container on the left */
  .previewContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
    margin-bottom: 100px;
  }
  .previewItem {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border 0.2s;
    max-width: 50%; /* Ensure the image does not exceed the container width */
  }
  
  .previewItem:hover {
    border-color: #1c51a3;
  }
  
  .activePreview {
    border-color: #1c51a3;
  }
  
  .previewImage {
    border-radius: 4px;
  }
  
  /* Main image container with arrow buttons */
  .mainImageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  
  .imageContainer {
    width: 550px;
    height: 520px; /* Set a fixed height to prevent resizing */
    overflow: hidden;
    max-width: 420px;
    min-width: 400px;
  }
  
  
  .arrowButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 3px;
    margin-top: 320px;
    margin-left: 5px;
    margin-right: -10px;
  }
  
  /* Position left arrow */
  .arrowButton:first-of-type {
    left: 150px;
  }
  
  /* Position right arrow */
  .arrowButton:last-of-type {
    right: 150px;
  }