
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #0a0a0a;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1; /* Grow to push footer down */
  padding-bottom: 20px;
  width: 100%;
  max-width: 100%;
}

.section-title {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 52px 0;
  padding-left: 38.2%;
}

.section-title2 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 40px 0;
  padding-left: 41%;
}

.section-title::before,
.section-title::after, .section-title2::before, .section-title2::after {
  content: "";
  flex: 0 0 60px; /* Set a fixed width for the lines */
  border-bottom: 3px solid black;
  border-radius: 20px;
  margin: 0 10px; /* Adjust the margin to bring the lines closer to the title */
}

.section-title h2, .section-title2 h2 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.section-divider {
  border: 0;
  height: 1px;
  background: white; /*set to white for now as we are using title headers */
  margin: 40px 0;
  width: 100%;
}


.features {
  display: flex;
  justify-content: normal;
  width: 80%;
  flex-wrap: nowrap; /* Optional: allows wrapping if there are too many items */
  margin-bottom:10px;
  margin-top: 30px; 
  margin-left: 10%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust width as needed */
  margin: 0 80px;
}


.feature-image {
  width: 45%; /* Adjust width as needed */
  height: auto;
}

.feature-image2 {
  width: 54%; /* Adjust width as needed */
  height: auto;

}

.feature-image3 {
  width: 48%; /* Adjust width as needed */
  height: auto;
}

.feature-text {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feature-description {
  font-size: 16px; /* Smaller text for the description */
  text-align: center;
  margin-top: 10px;
  color: #766; /* Optional: Lighter color for the description */
}

.feature-button {
  background-color: #1c51a3; /* Blue background color */
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 12px; /* Add border radius */
  cursor: pointer;
  margin-top: 37px; /* Add space above the button */
  margin-left: 44.5%;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add button shadow */
}

.product-button {
  background-color: #1c51a3; /* Blue background color */
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 8px; /* Add border radius */
  cursor: pointer;
  margin-top: 20px; 
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add button shadow */
  margin-right: 25px;
  display: flex;
}
.feature-button:hover, .product-button:hover, .learn-button:hover {
  background-color: #016ca5; /* lighter blue on hover */
}

.quote-form-container {
  opacity: 0.1;
  transition: opacity 0.6s ease-in;
}

.quote-form-container.show {
  opacity: 1;
}

.productDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 8px; /* Optional: Add border radius */
  flex: 1; /* Allow the details container to take up available space */
  margin-left: 100px; /* Add space between the image and details */
  margin-top: 100px;
}

.productName {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 26px;
}

.logoContainer {
  display: flex;
  gap: 10px; /* Add space between logos */
  margin-bottom: 55px; /* Add space below the logos */
}

.productDescription {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.productOptions {
  font-size: 16px;
}


.our-brands {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.brand-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add space between brand logos */
  width: 100%;
  margin-top: 5px;
}

.brand { /* brand logo */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 9px;
}

.brand-paragraph {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  color: #766; /* Optional: Lighter color for the description */}


.learn-buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
  margin-bottom: 20px;
  padding-right: 12px;
}
.learn-button {
  background-color: #1c51a3; /* Blue background color */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px; /* Add border radius */
  cursor: pointer;
  font-weight: bold;
  display: flex;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
