
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #0a0a0a;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1; /* Grow to push footer down */
  padding-bottom: 20px;
}

.paragraph {
  width: 99.8%; /* Adjust width as needed */
  height: 30%;
  font-size: 32px;
  font-weight: bold ;
  text-align: CENTER;
  padding-left: 25%;  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.features {
  display: flex;
  justify-content: normal;
  width: 100%;
  flex-wrap: nowrap; /* Optional: allows wrapping if there are too many items */
  margin-bottom:10px;
  margin-top: 30px;
  padding-left: 25%; /* Move features to the right */
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust width as needed */
  margin: 0 100px;
}


.feature-image {
  width: 74%; /* Adjust width as needed */
  height: auto;
  border-radius: 4px; /* Optional: Add border radius */
}

.feature-image2 {
  width: 89%; /* Adjust width as needed */
  height: auto;
  border-radius: 4px; /* Optional: Add border radius */
}

.feature-image3 {
  width: 80%; /* Adjust width as needed */
  height: auto;
  border-radius: 4px; /* Optional: Add border radius */
}

.feature-text {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.feature-description {
  font-size: 14px; /* Smaller text for the description */
  text-align: center;
  margin-top: 10px;
  color: #766; /* Optional: Lighter color for the description */
}

.feature-button {
  background-color: #1c51a3; /* Blue background color */
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 12px; /* Add border radius */
  cursor: pointer;
  margin-top: 38px; /* Add space above the button */
  margin-left: 55.6%;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add button shadow */
}

.product-button {
  background-color: #1c51a3; /* Blue background color */
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 12px; /* Add border radius */
  cursor: pointer;
  margin-top: 20px; 
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add button shadow */
  margin-right: 25px;
}
.feature-button:hover, .product-button:hover {
  background-color: #086cd6; /* lighter blue on hover */
}

.quote-form-container {
  opacity: 0.1;
  transition: opacity 0.6s ease-in;
}

.quote-form-container.show {
  opacity: 1;
}

.productDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 8px; /* Optional: Add border radius */
  flex: 1; /* Allow the details container to take up available space */
  margin-left: 100px; /* Add space between the image and details */
  margin-top: 100px;
}

.productName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 26px;
}

.logoContainer {
  display: flex;
  gap: 6px; /* Add space between logos */
  margin-bottom: 55px; /* Add space below the logos */
}

.productDescription {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.productOptions {
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
