.pageContainer {
    max-width: 700px;
    margin: 0 auto; /* Centers the container on the page */
    padding: 20px;
  }
  
  .mainTitle {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formContainer {
    margin-top: 8%;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
  }
  
  .formTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 165px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
  }
  
  .formGroup label {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .formGroup input,
  .formGroup textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    max-height: 450px;
  }
  
  .submitButton {
    padding: 10px 15px;
    background-color: #1c51a3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 20%;
  }
  
  .submitButton:hover {
    background-color: #005fa3;
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    justify-content: center;
    width: 100%;
  }
  