.productTable {
    width: 69%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .productTable th, .productTable td {
    border: 1px solid #ddd;
    padding: 7px;
    font-size: 16px;
  }
  
  .productTable th {
    background-color: #f2f2f2;
    text-align: left;
  }