.bagBlueprint {
    position: contain;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    pointer-events: none; /* Prevents interaction with the blueprint */
  }

  .bagContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: lightgray;
    padding: 5px;
    right: 5%;
  }