.navbar {
  background-color: #ffffff;
  padding: 0.6rem;
  width: 100%; /* Takes up the full width of the screen */
  margin: 0 auto; /* Centers the navbar horizontally */
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow */
  z-index: 1000; /* Ensure the navbar is above other content */
  border-radius: 2px;
}


.navlist {
  list-style: none;
  display: flex;
  gap: 5rem;
  padding: 0;
  margin: 0;
  justify-content: space-between; /* Distribute space evenly between items */
}

.nav-item button {
  color: #000000; /* Change text color to black for better contrast */
  background: none;
  border: none;
  cursor: pointer;
}

.navItem {
  flex: 1; /* Each item takes equal space */
  display: flex;
  justify-content: center; /* Center the button within the item */
}

.nav-item button:hover {
  text-decoration: underline;
}