.navButton {
    color: rgb(92, 86, 86);
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 1.4vh;
    left: 64.5%;
    font-size: 20px;
  }
  
.navButton:hover {
  color:#1c63cd;
  text-decoration: underline;
  }