.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 5.5%;
    margin-bottom: 100px;
  }
  
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 75%;
    margin-left: 13.5%;
    margin-bottom: 3%;
  }
  
.section h2 {
    font-size: 28px;
    margin-bottom: 5%;
    font-weight: bold;

}

.row {
    flex-direction: row;
  }
  
.rowReverse {
    flex-direction: row-reverse;
  }
  
.textContainer {
    flex: 1;
    font-size: 18px;
    padding-bottom: 12%;
  }
  
.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
