.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 100px;
  }
  
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 75%;
    margin-bottom: 3%;
    margin-left: 14.5%;
  }

.sectionunder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 75%;
    margin-bottom: 3%;
    margin-left: 7%;
  }
 
.section h2 {
    font-size: 32px;
    margin-bottom: 5%;
    font-weight: bold;

}  
.sectionunder h2 {
    font-size: 32px;
    margin-bottom: 5%;
    font-weight: bold;

}

.row {
    flex-direction: row;
  }
  
.rowReverse {
    flex-direction: row-reverse;
  }
  
.textContainer {
    flex: 1;
    font-size: 18px;
    padding-bottom: 8%;
  }
  
.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
